<%- include('./partials/header') %>
<link rel="stylesheet" type="text/css" href="/stylesheets/list.css" />
<h1 class='h1'>Lista de produtos</h1>
<div id='cart-div' class="d-flex flex-row bd-highlight mb-3" >
    <% if (cartProductError) { %>
        <span id="error"> Por favor faça login para ver seu carrinho</span>
    <% } %>
    <% if(!product){ %>
        <span id="error"> Você ainda não possui nenhum produto :(</span>
    <% } else { %>
        
            <% product.forEach(function(product) { %>
                <div class="p-2 bd-highlight" id='div-flex'>
                    
                    <div class='div-list'> 
                        <p class="product-name"><%- product.name %> <p><a href="/products/details/<%= product.id %>">
                        <img class="rounded-circle" src="/images/uploads/<%= product.img %>" alt="imagem <%- product.name %>" width="50" height="50"/></a> </p>        
                        <p> R$<%-product.price %> </p>                                
                    </div>
                        
                </div>
            <% });%>

    <% } %>
    
</div>
<%- include('./partials/footer') %>