<%- include('../partials/header') %>
<link rel="stylesheet" type="text/css" href="/stylesheets/list.css" />
<div id='details-div'>
  <% if (productAdded) { %>
    <span id="produto-adicionado">Produto Adicionado!</span>
  <% } %>
</div>
<div class="d-flex flex-row bd-highlight mb-3" >
  <h1 class='h1-details'><%- products.name %></h1>
    <div  class="details-product" id='div-flex'>
        <img 
        class="rounded-circle"
        src="/images/uploads/<%= products.img %>"
        alt="imagem <%- products.name %>"
        width="100"
        height="100"
        />
        <tbody>
            <table>
                <tr>
                    <th><%- products.name %></th>                   
                </tr>
                <tr>
                    <td>R$<%-products.price %></td>
                </tr>
                <tr>
                  <td><%-products.description %></td>
                </tr>
                    <th class='excluir'>
                        <form action='/products/addtocart/<%-products.id%>?_method=POST' method='post'>
                            <button type="submit" class="btn btn-success">
                                Adicionar ao carrinho
                            </button>
                        <form>
                    </th>
            </table>
        </tbody>
    </div>
    
</div>
<%- include('../partials/footer') %>