<%- include('../partials/header') %>
<script>
  
</script>
<section class="container">
    <h1>Editar produto</h1>
    <form action="/products/edit/<%=products.id%>?_method=PUT" method='post' enctype="multipart/form-data">
        <div>
          <label for="name">Nome do produto:</label>
          <input value="<%= products.name %>" name="name" id="name" type="text">
        </div>
        <div>
          <label for="price">Preço do produto:</label>
          <input value="<%= products.price %>" name="price" id="price" type="number">
        </div>
        <div>
          <div>
            <label>Tipo de produto:</label>
          </div>
          <% types.forEach(function(type) {%>
            <div class='form-check-inline'>
                                
              <input type='radio' name='type' id='<%= type.id %>' class='form-check-input' value='<%= type.id %>' >
                                                  
              <label for="<%= type.id %>" class='form-check-label'><%= type.label %></label> 
                    </div>
          <% }) %>   
        </div>
          <div>
              <label class='procurar-imagem-label' for='file'>Imagem do produto:</label><br>
              <input type='file' name='productImg' id='file' class='procurar-imagem'>
              
          </div> 
        <div class='botoes-cancel-submit'>
          <input type="submit" value="Salvar edição">
          <input type="reset" value="Cancelar">
        </div>
      </form>

</section>





<%- include('../partials/footer') %>