<%- include('../partials/header') %>
<h1 class='h1'>Lista de produtos</h1>
<div class="d-flex flex-row bd-highlight mb-3" >
    
    <% products.forEach(function(product) { %>
    <div  class="p-2 bd-highlight" id='div-flex'>
        <img 
        class="rounded-circle"
        src="/images/uploads/<%= product.img %>"
        alt="imagem <%- product.name %>"
        width="50"
        height="50"
        />
        <tbody>
            <table>
                <tr>
                    <th><%- product.name %></th>
                </tr>
                <tr>
                    <td><%- product.price %></td>
                </tr>
                <tr id='product-<%-product.id%>'>
                    <td>
                        <a role="button"
                        href="/products/edit/<%-product.id%>"
                        class="btn btn-warning">
                            Editar
                        </a>
                    </td>
                    <td>
                        <button role="delete" data-product-id="<%-product.id%>" type="submit" class="btn btn-danger">
                                Excluir
                            </button>
                        <form>

                    </td>
                </tr>
                
            </table>
        </tbody>
    </div>
    <% });%>
    
</div>
<script src='/javascripts/products.js'></script>
<%- include('../partials/footer') %>