<%- include('../partials/header') %>

<link rel="stylesheet" type="text/css" href="/stylesheets/list.css" />
<div class="d-flex flex-row bd-highlight mb-3" id="produtos">    

    <% products.forEach(function(product) { %>
        <div  class="p-2 bd-highlight" id='div-flex'>
            
            <div class='div-list'> 
                <a href="/products/details/<%= product.id %>"><p class="product-name"><%- product.name %></p></a>

                <a href="/products/details/<%= product.id %>"><img class="rounded-circle" src="/images/uploads/<%= product.img %>" alt="imagem <%- product.name %>" width="50" height="50"/></a> </p>        
                <p> R$<%-product.price %> </p>               
                <table>
                    <% if(adminLogin){ %>
                        <th>
                            <a role="button" href="/products/edit/<%-product.id%>" class="btn btn-warning"> Editar </a>
                        </th>
                        <th class='excluir'>
                            <form action='/products/delete/<%-product.id%>?_method=DELETE' method='post'>
                            <button type="submit" class="btn btn-danger"> Excluir </button></form>
                        </th>
                    <% } %>
                </table>
                                
            </div> 
                
        </div>
    <% });%>
    
</div>
<%- include('../partials/footer') %>