<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
</head>
<body>
<%- include('../partials/header') %>
<main class="container">
    <h1>Produtos</h1>
    <% products.forEach(function(product) { %>
    <div>
        <img
        class="rounded-circle"
        src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
        alt="Generic placeholder image"
        width="50"
        height="50"
        />
        <tbody>
            <table>
                <tr>
                    <th><%- product.name %></th>
                    <th><a role="button"
                    href="/products/edit/<%-product.id%>"
                    class="btn btn-warning">
                        Editar
                    </a></th>
                </tr>
                <tr>
                    <td><%- product.price %></td>
                </tr>
            </table>
        </tbody>
    </div>
    <% });%>
    
    <%- include('../partials/footer') %>    
</body>
</html>