<%- include('../partials/header3') %>
<h1 class='h1'>Lista de produtos</h1>
<div class="d-flex flex-row bd-highlight mb-3" >
    
    <% products.forEach(function(product) { %>
    <div  class="p-2 bd-highlight" id='div-flex'>
        <img 
        class="rounded-circle"
        src="/images/uploads/<%= product.img %>"
        alt="imagem <%- product.name %>"
        width="50"
        height="50"
        />
        <tbody>
            <table>
                <tr>
                    <th><%- product.name %></th>                   
                </tr>
                <tr>
                    <td>R$<%-product.price %></td>
                </tr>
                <% if(adminLogin){ %>
                    <th>
                        <a role="button"
                        href="/products/edit/<%-product.id%>"
                        class="btn btn-warning">
                            Editar
                        </a>
                    </th>
                    <th class='excluir'>
                        <form action='/products/delete/<%-product.id%>?_method=DELETE' method='post'>
                            <button type="submit" class="btn btn-danger">
                                Excluir
                            </button>
                        <form>
                    </th>
                <% } %>
            </table>
        </tbody>
    </div>
    <% });%>
    
</div>
<%- include('../partials/footer') %>