<%- include('../partials/header') %>


<h1 class="d-flex justify-content-center">Cadastrar novo produto</h1>
  <main class="d-flex justify-content-center">
    
    <div class="container">
    <form action='' method='POST' enctype="multipart/form-data">
      <div>
        <label for="name">Nome:</label>
        <input name="name" id="name" type="text">
      </div>
      <div>
        <label for="price">Preço:</label>
        <input name="price" id="price" type="number">
      </div>
      <div>
        <div>
          <label>Tipo de produto:</label>
        </div>
        <% types.forEach(function(type) {%>
          <div class='form-check-inline'>
            <input type='radio' name='type' id='<%= type.label %>' class='form-check-input' value='<%= type.label %>' />
            <label for="<%= type.label %>" class='form-check-label'><%= type.label %></label>
          </div>
        <% }) %>   
      </div>
      <div>
        <label for="description">Descrição do produto</label>
        <textarea
          type="textarea"
          id="description"
          name="description"
          class="form-control"></textarea>
      </div>
      <div>
        <label class='procurar-imagem-label' for='file'>Adicione uma imagem:</label><br>
        <input type='file' name='productImg' id='productImg' class='procurar-imagem'>
            
      </div> 
      <div class='botoes-cancel-submit'>
        <input id='submit-button' type="submit" value="Cadastrar produto">
        <input id='cancel-button' type="reset" value="Cancelar">
      </div>
    </div>
    </form>
  </main>
  
</body>
<%- include('../partials/footer') %>
